<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-3 footer-contact">
                    <h3>Unicy</h3>
                    <!--<img class="img-fluid white" src="https://omedic.com.mx/imagenes/logoOmedic.png" alt="logo">-->
                    <div class="social-links mt-3">
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                    </div>


                </div>

                <div class="col-lg-6 col-md-3 footer-links">
                    <h4>Contáctanos</h4>
                    <ul>
                        <li><i class="bx bx-chevron-right"></i> <a href="#">Tel. <a href="#">984-xxx-xxxx</a></a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="#"><a href="mailto:marketing@unicy.com.mx">marketing@unicy.com.mx</a></a>
                        </li>
                        <li><i class="bx bx-chevron-right"></i>
                            <a href="#">WhatsApp <a href="#">984 xxx xxxx</a></a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container py-4">
        <div class="copyright">
            <STRONG>UNICY Todos los derechos reservados &copy; 2022</STRONG>
        </div>
        <!--
    <div class="credits">
        Permiso de publicidad no: 213301201A1895
    </div>
    -->
    </div>
</footer>
<!-- End Footer -->