<div class="hero-image">
    <div class="hero-text">
        <h1>I am Unicy Marketing</h1>
        <p>And I'm be the best in Ads and Web developer</p>
        <h2>Contac Me</h2>
        <p>Email: marketing@unicy.com.<i class="fa fa-maxcdn" aria-hidden="true"></i></p>
        <p>Phone: +1 (123) 456-7890</p>
        <h2>Social Media</h2>
        <a mat-raised-button href="https://www.instagram.com/unicy_mkt/" target="_blank">Instagram</a>
        <span></span>
        <a mat-raised-button href="https://www.facebook.com/unicy.marketing/" target="_blank">Facebook</a>
    </div>